@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.user {
  align-self: flex-end;
  border-radius: .5rem .5rem 0 .5rem;
  background: var(--background-primary);
}

.robot {
  border-radius: .5rem .5rem .5rem 0;
  background: var(--background-secondary);
}

.messageForm {
  width: 80%;
  margin-top: 2rem;
}

.messages {
  width: 80%;
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.message {
  padding: .5rem 1rem;
  width: fit-content;
  margin-top: 1rem;
  max-width: 70%;
  list-style-type: none;
}

.messageList {
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  overflow: scroll;
}

.messageList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.messageList::-webkit-scrollbar { 
  display: none;
}

.messageInputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;

  @media (min-width: 700px) {
    flex-direction: row;
  }
}

.messageBox {
  font-size: 1.2rem;
  box-shadow: 0px 2px 8px -1px #0000001a;
  border: transparent;
  border-radius: .5rem .5rem 0 0 ;
  padding: .5rem 1rem;
  width: 100%;

  @media (min-width: 700px) {
    border-radius: .5rem 0 0 .5rem;
  }
}

.submit {
  width: 100%;
  padding: .8rem;
  border: none;
  border-radius: 0 0 .5rem .5rem;
  font-size: 1rem;
  cursor: pointer;

  @media (min-width: 700px) {
    width: 20%;
    border-radius: 0 .5rem .5rem 0;
  }
}

.support {
  padding-top: .5rem;
  margin-top: .5rem;
  border-top: #444444 1px solid;
  font-size: 1rem;
  line-height: 1.5rem;

  a {
    padding: .15rem .3rem;
    border-radius: .2rem;
    background: var(--background-third);

    &:hover {
      background: var(--background-fourth);
    }
  }
}
